<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Intermaq</title>

    <!-- fav icon -->
    <link rel="shortcut icon" href="../Assets/img/fav-ico.png" />

    <!-- Links css -->
    <link rel="stylesheet" href="../Style/Contato/Contato.css" />
    <link rel="stylesheet" href="../Style/Style.css" />

    <!-- Header css -->
    <link href="../Style/menu/menu__item.css" rel="stylesheet" />
    <link href="../Style/menu/menu__link.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Style/menu/menu__lista.css" />
    <link rel="stylesheet" href="../Style/menu/cabecalho.css">

    <!-- footer -->
    <link rel="stylesheet" href="../Style/footer/footer.css" />

    <!--Fonte Ubunto  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="body">
    <div id="site">
      <header class="cabecalho">
        <nav class="menu">
          <img class="logo" src="../Assets/img/Logo.png" style="height: 80px" />
          <ul class="menu__lista">
            <li class="menu__item">
              <a class="menu__link ativo" href="./index.html">Início</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#produtos">Produtos</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Importação</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./contato.html">Contato</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#aboutUs">Sobre nós</a>
            </li>
          </ul>
        </nav>
      </header>

      <hr />
      <div id="box-contato">
       

        <fieldset id="contato">
          <legend id="titulo-contato"><h1>Envie-nos uma mensagem</h1></legend>
          <form action="">
            <div class="bloco-input">
              <label for="assunto">Assunto ou produto que deseja</label>
              <input id="assunto" type="text" name="assunto" id="assunto" />
            </div>

            <div>
              <label for="mensagem">Mensagem</label>
              <textarea
                name="mensagem"
                id="mensagem"
                cols="30"
                rows="10"
              ></textarea>
            </div>

            <button type="button" onclick="criarUrl()">Enviar</button>
          </form>
        </fieldset>

        <section class="mapa">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.6884667222557!2d-46.6077819!3d-23.5437048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5926a84a0dcb%3A0x9f7b26aeca48cc9b!2sIntermaq%20do%20Brasil%20M%C3%A1quinas%20e%20Mat%C3%A9rias%20Primas!5e0!3m2!1spt-BR!2sbr!4v1618593496058!5m2!1spt-BR!2sbr"
            width="600"
            height="450"
          ></iframe>
        </section>

        

        <div id="contato-info">
          <h1>Entre em contato diretamente com o nosso setor comercial</h1>
        </div>

        <div class="contato-cards">
          <div class="contato-card">
            <div class="img-box">
              <img src="../Assets/img/icones/price.png" alt="preços" />
            </div>

            <h2> Preços</h2>
            <p class="nome">Pergunte a respeito dos nossos preços com nossos funcionários. </p>
          </div>

          <div class="contato-card">
            <div class="img-box">
              <img src="../Assets/img/icones/services.png" alt="serviços" />
            </div>

            <h2>Serviços</h2>
            <p class="nome">Caso precise de manutenção em algum dos nossos produtos, nos envie um e-mail.</p>
          </div>

          <div class="contato-card">
            <div class="img-box">
              <img src="../Assets/img/icones/products.png" alt="produtos" />
            </div>

            <h2>Prdutos</h2>
            <p class="nome">Caso tenha se interessado por um ou mais de nossos produtos, fique a vontade para tirar quais quer duvida que tiver.</p>
          </div>
        </div>
      </div>

      <div class="contato-numeros">
        <div class="telefones">
          <a href="https://api.whatsapp.com/send?phone=5511941101919">
            <div class="numero">
              <img src="../Assets/img/Whats.png" alt="">
              <p> +55(11)94110-1919</p>
            </div>
          </a>
          
          <a href="https://api.whatsapp.com/send?phone=5511932492230">
            <div class="numero">
              <img src="../Assets/img/Whats.png" alt="">
              <p> +55(11)93249-2230</p>
            </div>
          </a>
          
          <a href="https://api.whatsapp.com/send?phone=5511995114050">
            <div class="numero">
              <img src="../Assets/img/Whats.png" alt="">
              <p> +55(11)99511-4050</p>
            </div>
          </a>
          

        </div>  
        <div class="telefones">
          <div class="numero">
            <img src="../Assets/img/icones/telphone.png " alt="">
            <p> (11)2291-3011 </p>
          </div>
          <div class="numero">
            <img src="../Assets/img/icones/telphone.png " alt="">
            <p> (11)2081-0965 </p>
          </div>
          <div class="numero">
            <img src="../Assets/img/icones/telphone.png " alt="">
            <p> (11)2291-7670 </p>
          </div>
          <div class="numero">
            <img src="../Assets/img/icones/telphone.png " alt="">
            <p> (11)2694-4705 </p>
          </div>
        </div>
        

      </div>

      <footer id="footer-contato">
        <svg
          id="linha"
          data-name="Componente 1 – 1"
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="61.075"
          viewBox="0 0 1920 61.075"
        >
          <path
            id="Caminho_1"
            data-name="Caminho 1"
            d="M0,122.423H192.312l76.2,46.207L0,169.063Z"
            transform="translate(0.5 -122.423)"
            fill="#f13433"
          />
          <line
            id="Linha_1"
            data-name="Linha 1"
            x2="1920"
            transform="translate(0 51.075)"
            fill="none"
            stroke="#215baa"
            stroke-width="20"
          />
        </svg>
        <div class="footer-corpo">
          <div class="direita">
            <h3>Endereco</h3>
            <p>
              Rua: Coronel Antônio Marcelo, 220 - Brás São Paulo / SP - CEP:
              03054-040
            </p>
          </div>

          <div class="esquerda">
            <h3>Contato</h3>
            <div class="redes-sociais-container">
              <a href="">
                <img
                  class="redes-sociais"
                  src="../Assets/img/Whats.png"
                  alt=""
                />
                <p>(11)99511-4050</p>
              </a>
            </div>
            <div class="redes-sociais-container">
              <a href="">
                <img
                  class="redes-sociais"
                  src="../Assets/img/face.png"
                  alt=""
                />
                <p>Facebook</p>
              </a>
            </div>
            <div class="redes-sociais-container">
              <a href="">
                <img
                  class="redes-sociais"
                  src="../Assets/img/linkedin.png"
                  alt=""
                />
                <p>linkedin</p>
              </a>
            </div>

            <div class="redes-sociais-container">
              <a href="">
                <img
                  class="redes-sociais"
                  src="../Assets/img/email.png"
                  alt=""
                />
                <p>contato@intermaqdobrasil.com.br</p>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

<script>
  function criarUrl() {
    let assunto = document.getElementById("assunto").value;
    let mensagem = document.getElementById("mensagem").value;
    console.log(assunto + mensagem);

    if (assunto !== "" || mensagem !== "") {
      let url =
        "mailto:contato@intermaqdobrasil.com.br?subject=" +
        assunto +
        "&body=" +
        mensagem;
      console.log(url);
      window.location.href = url;
    }
    alert("Por favor preencha todos os campos");
    
  }
</script>
