<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Intermaq</title>

    <!-- fav icon -->
    <link rel="shortcut icon" href="../Assets/img/fav-ico.png" />

    <!-- Links css -->
    <link rel="stylesheet" href="../Style/Contato/Contato.css" />
    <link rel="stylesheet" href="../Style/Style.css" />

    <!-- Header css -->
    <link href="../Style/menu/menu__item.css" rel="stylesheet" />
    <link href="../Style/menu/menu__link.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Style/menu/menu__lista.css" />

    <!-- footer -->
    <link rel="stylesheet" href="../Style/footer/footer.css" />

    <!--Fonte Ubunto  -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="body">
    <div id="site">
      <header class="cabecalho">
        <nav class="menu">
          <img class="logo" src="../Assets/img/Logo.png" style="height: 80px" />
          <ul class="menu__lista">
            <li class="menu__item">
              <a class="menu__link ativo" href="./index.html">Início</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#produtos">Produtos</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">Importação</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./contato.html">Contato</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="./index.html#aboutUs">Sobre nós</a>
            </li>
          </ul>
        </nav>
      </header>

      <hr />
      <div id="box-contato">
        <fieldset id="contato">
          <legend id="titulo-contato"><h1>Envie-nos uma mensagem</h1></legend>
          <form action="">
            <div>
              <label for="email">E-mail</label>
              <input
                id="email"
                type="email"
                placeholder="Digite seu email"
                name="email"
              />
            </div>

            <div>
              <label for="assunto">Assunto ou produto que deseja</label>
              <input id="assunto" type="text" name="assunto" id="assunto" />
            </div>

            <div>
              <label for="mensagem">Mensagem</label>
              <textarea
                name="mensagem"
                id="mensagem"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </form>
        </fieldset>
      </div>

      <footer id="footer-contato">
        <svg
          id="linha"
          data-name="Componente 1 – 1"
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="61.075"
          viewBox="0 0 1920 61.075"
        >
          <path
            id="Caminho_1"
            data-name="Caminho 1"
            d="M0,122.423H192.312l76.2,46.207L0,169.063Z"
            transform="translate(0.5 -122.423)"
            fill="#f13433"
          />
          <line
            id="Linha_1"
            data-name="Linha 1"
            x2="1920"
            transform="translate(0 51.075)"
            fill="none"
            stroke="#215baa"
            stroke-width="20"
          />
        </svg>

        <div class="direita">
          <h3>Endereco</h3>
          <p>
            Rua: Coronel Antônio Marcelo, 220 - Brás São Paulo / SP - CEP:
            03054-040
          </p>
        </div>

        <div class="esquerda">
          <h3>Contato</h3>
          <div class="redes-sociais-container">
            <a href="">
              <img class="redes-sociais" src="../Assets/img/Whats.png" alt="" />
              <p>(11)99511-4050</p>
            </a>
          </div>
          <div class="redes-sociais-container">
            <a href="">
              <img class="redes-sociais" src="../Assets/img/face.png" alt="" />
              <p>Facebook</p>
            </a>
          </div>
          <div class="redes-sociais-container">
            <a href="">
              <img
                class="redes-sociais"
                src="../Assets/img/linkedin.png"
                alt=""
              />
              <p>linkedin</p>
            </a>
          </div>

          <div class="redes-sociais-container">
            <a href="">
              <img class="redes-sociais" src="../Assets/img/email.png" alt="" />
              <p>contato@intermaqdobrasil.com.br</p>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

<script></script>
