<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intermaq</title>
    <link href="../Style/menu/menu__item.css" rel="stylesheet" />
    <link href="../Style/menu/menu__link.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Style/menu/menu__lista.css" />
    <link rel="stylesheet" href="../Style/Style.css" />
    <link rel="stylesheet" href="../Style/body.css" />
  </head>
  <body class="body">

    <div id="Animacao">
    </div>


    <header class="cabecalho">
      <nav class="menu">
        <img class="logo" src="../Assets/img/Logo.png" style="height: 60px;">
        <ul class="menu__lista">
          <li class="menu__item">
            <a class="menu__link ativo" href="#">Início</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Produtos</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Importação</a>
          </li>
          <li class="menu__item"><a class="menu__link" href="#">Contato</a></li>
          <li class="menu__item">
            <a class="menu__link" href="#">Sobre nós</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="banner">
    </div>
        
  </body>
</html>
