<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Intermaq</title>

    <!-- fav icon -->
    <link rel="shortcut icon" href="../Assets/img/fav-ico.png" />

    <!-- Links css -->
    <link href="../Style/menu/menu__item.css" rel="stylesheet" />
    <link href="../Style/menu/menu__link.css" rel="stylesheet" />
    <link href="../Style/animacao.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Style/menu/menu__lista.css" />
    <link rel="stylesheet" href="../Style/Style.css" />
    <link rel="stylesheet" href="../Style/body.css" />
    <link rel="stylesheet" href="../Style/banner/banner.css">

    <!--Fonte Ubunto  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body class="body">
    <div class="AnimationSheet">
      <div class="animacao">
          <svg  id="" class = "Red vermelho"xmlns="http://www.w3.org/2000/svg" width="245.343" height="333.743" viewBox="0 0 245.343 333.743">
              <path d="M529.586,94.149V427.892H774.93Z" transform="translate(-529.586 -94.149)" fill="red"/>
            </svg>
            
            <svg id="" class="Blue azul" xmlns="http://www.w3.org/2000/svg" width="246.831" height="335.768" viewBox="0 0 246.831 335.768">
              <path  d="M529.586,94.149V427.892H774.93Z" transform="translate(775.918 428.392) rotate(180)" fill="#03f" stroke="#03f" stroke-width="1"/>
            </svg>
            
          <h1>INTER<strong>MAQ</strong></h1>
          <h2>Do Brasil</h2>     
      </div>
  </div>

    <header class="cabecalho">
      <nav class="menu">
        <img class="logo" src="../Assets/img/Logo-Novo.png" style="height: 80px;">
        <ul class="menu__lista">
          <li class="menu__item">
            <a class="menu__link ativo" href="#">Início</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Produtos</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Importação</a>
          </li>
          <li class="menu__item"><a class="menu__link" href="#">Contato</a></li>
          <li class="menu__item">
            <a class="menu__link" href="#">Sobre nós</a>
          </li>
        </ul>
      </nav>
    </header>

    <hr>

    <div class="banner">
      <img src="../Assets/Banner/Banner01-v2.1.jpg" alt="">
    </div>
        
  </body>
</html>
<script>
$(".AnimationSheet").one("animationend", function() {
    $(".AnimationSheet").css("transform", "translateX(-100%)");
    
})

</script>