.body {
  margin: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  scroll-behavior: smooth;
  transition: all ease;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input,
button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
fieldset {
  margin: 0;
  max-width: 100%;
  padding: 0;
}
ul {
  list-style: none;
}
